.lw-button
{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    height: px2rem(90);
    line-height: px2rem(90);
    font-size: px2rem(30);
}

a.lw-button
{
    text-decoration: none
}

.lw-button.is-disabled:not(.has-event),.lw-button:disabled:not(.has-event)
{
    pointer-events: none
}

.lw-button--default.is-disabled,.lw-button--default:disabled
{
    color: #afafaf;
    border-color: #e9e9e9;
    background-color: #e9e9e9
}

.lw-button--default
{
    background-color: transparent;
    border-color: #1f1f1f;
    color: #1a1a1a
}

.lw-button--primary
{
    background-color:$--primay-color;
    border-color: $--primay-color;
    color: #fff
}

.lw-button--primary.is-disabled,.lw-button--primary:disabled
{
    color: #afafaf;
    border-color: #e9e9e9;
    background-color: #e9e9e9
}