.concat-main {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: px2rem(90);
  &__item {
    height: 100%;
    flex: 1;
    color: $--white-color;
    font-size: $--md-font-size;
    img {
      width: px2rem(30);
      height: px2rem(30);
      margin-right: px2rem(16);
    }
    &:nth-child(1) {
      background-color: #F34234;
    }
    &:nth-child(2) {
      background-color: $--primay-color;
    }
  }
}
