.lw-msgbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: px2rem(7);
  -webkit-user-select: none;
  overflow: hidden;
  backface-visibility: hidden;
  transition: .2s;
  width: calc(560 / 750 * 100%);
  text-align: center;
  box-sizing: border-box;
  padding-bottom: px2rem(67);
  background-color: #fff;
  &.is-icon {
    &.is-title {
      .lw-msgbox {
        &__icon {
          height: px2rem(144);
          padding-top: px2rem(100);
        }
        &__header {
          padding-bottom: px2rem(50);
        }
        &__btns {
          padding-top: px2rem(58);
        }
      }
    }
    &.no-title {
      .lw-msgbox{
        &__icon {
          height: px2rem(200);
          padding-top: px2rem(140);
        }
      }
    }
  }
  &.no-icon {
    &.is-title{
      .lw-msgbox {
        &__header {
          padding-top: px2rem(76);
          padding-bottom: px2rem(60);
        }
      }
    }
  }
  &__title {
    letter-spacing: 0.05em;
    font-size: px2rem(42);
    margin-top: px2rem(42);
  }
  &__content {
    line-height: calc(48 / 28);
    padding: {
      left: px2rem(82);
      right: px2rem(82);
    }
  }
  &.is-prompt {
    .lw-msgbox {
      &__content {
        padding: {
          left: px2rem(24);
          right: px2rem(24);
          bottom: px2rem(12);
        }
      }
    }
  }
  &__header{
    line-height: 1;
    padding: {
      left: px2rem(52);
      right: px2rem(52);
    }
  }
  &__input {
    position: relative;
    input {
      background: transparent;
      font-size: calc(30 / 28)em;
      outline: 0 none;
      line-height: px2rem(60);
      padding: px2rem(18) px2rem(26);
      box-sizing: border-box;
      width: 100%;
      border-radius: 0;
    }
    .lw-msgbox__status {
      text-align: left;
      position: absolute;
      top: 3px;
      left: 1px;
      right: 1px;
      bottom: 3px;
      overflow: hidden;
      font-size: calc(24 / 30)em;
      box-sizing: border-box;
      padding-left: calc(26 / 24)em;
      display: flex;
      align-items: center;
      &-tip {
        padding-left: calc(10 / 24)em;
      }
    }
  }
  &__btns {
    padding: {
      top: px2rem(76);
      left: px2rem(52);
      right: px2rem(52);
    }
    &.is-full {
      // @mixin clearfix;
      clear: both;
      padding: {
        left: px2rem(24);
        right: px2rem(24);
      }
      .lw-msgbox {
        &__btn {
          width: calc(306 / 642 * 100%);
        }
        &__confirm {
          float: right;
        }
        &__cancel {
          float: left;
        }
      }
    }
  }
  &__btn {
    width: 100%;
  }
  &__message {
    padding-top: px2rem(36);
    font-size: px2rem(30);
  }
  &__icon {
    line-height: 1;
    display: inline-block;
  }
  &__close {
    position: absolute;
    top: px2rem(30);
    right: px2rem(30);
  }
  &__bounce-enter {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }
  &__bounce-leave-active {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}
.lw-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.lw-modal-enter {
  animation: lw-modal-in .2s ease;
}
.lw-modal-leave {
  animation: lw-modal-out .2s ease forwards;
}
@keyframes lw-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}
@keyframes lw-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}
