.lw-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  transition: .3s ease-out;
  border-radius: px2rem(10);
  /*头部40px 底部30px */
  max-height: calc(100% - px2rem(40 + 30));
  background-color: $--white-color;
  &__close {
    position: absolute;
    top: px2rem(30);
    right: px2rem(30);
    width: px2rem(30);
    height: px2rem(30);
  }
  &.is-full {
    min-height: px2rem(390);
    left: px2rem(80);
    right: px2rem(80);
    transform: translate3d(0, 0, 0);
  }
  &__default {
    &.is-full {
      transform: translate3d(0, -50%, 0);
    }
  }
  &.not-full {
    transform: translate3d(-50%, -50%, 0);
  }
  &__top {
    bottom: auto;
    &.is-full {
      top: px2rem(30);
      bottom: auto;
    }
    &.not-full {
      top: 0;
      right: auto;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
  &__right {
    left: auto;
    &.not-full {
      top: 50%;
      right: 0;
      bottom: auto;
      transform: translate3d(0, -50%, 0);
    }
  }
  &__bottom {
    top: auto;
    &.is-full {
      bottom: px2rem(30);
      &.jfk-actionsheet {
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    &.not-full{
      right: auto;
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
  &__left {
    right: auto;
    &.not-full {
      top: 50%;
      bottom: auto;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
  }
  &.popup-slide {
    &-top {
      &-enter,&-leave-active {
        &.not-full{
          transform: translate3d(-50%, -100%, 0);
        }
        &.is-full {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
    &-right {
      &-enter,&-leave-active {
        &.not-full {
          transform: translate3d(100%, -50%, 0);
        }
        &.is-full {
          transform: translate3d(100%, 0, 0);
        }
      }
    }
    &-left {
      &-enter,&-leave-active {
        &.not-full {
          transform: translate3d(-100%, -50%, 0);
        }
        &.is-full {
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
    &-bottom {
      &-enter,&-leave-active {
        &.not-full {
          transform: translate3d(-50%, 100%, 0);
        }
        &.is-full {
          transform: translate3d(0, 100%, 0);
        }

      }
    }
  }
  &.popup-slide-default {
    &-enter,&-leave-active {
      opacity: 0;
    }
  }
  &.jfk-actionsheet {
    border-radius: 0;
  }
}

.jfk-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.5);
}

.jfk-modal-enter {
  animation: jfk-modal-in .2s ease;
}

.jfk-modal-leave {
  animation: jfk-modal-out .2s ease forwards;
}

@keyframes jfk-modal-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jfk-modal-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


