@each $key, $val in (flex, flex), (ib, inline-block), (b, block) {
  .lw-#{$key} {
    display: $val;
  }
}

@each $key, $val in (start, flex-start), (end, flex-end), (center, center), (space-around, space-around), (space-between, space-between) {
  &.is-justify-#{$key} {
    justify-content: $val;
  }
  @each $key, $val in (top, flex-start), (middle, center), (bottom, flex-end) {
    &.is-align-#{$key} {
      align-items: $val;
    }
  }
}