$--sm-font-size: px2rem(24);
$--base-font-size: px2rem(28);
$--md-font-size: px2rem(30);
$--lg-font-size: px2rem(32);
$--primay-color: #4571EA;
$--default-color: #000;
$--white-color: #fff;
$--main-color: #333;
$--light-gray-color: #666;
$--gray-color: #999;
$--border-color: #F2F2F2;
$--border-right-color: #ccc;
