@mixin ellipsis($row) {
  text-overflow: ellipsis;
  overflow: hidden;
  @if $row == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
}