@mixin one-line-base($direction, $size){
  content: '';
  position: absolute;
  @if $direction == vertical {
    height: $size;
    width: 1px;
    transform: scale(0.5, 1);
  } @else {
    width: $size;
    height: 1px;
    transform: scale(1, 0.5);
  }
}
/* 1px线 */
@mixin one-line($direction: vertical, $size: 100%, $pseudo: before) {
  @if $pseudo == null {
    @include one-line-base($direction, $size);
    @content;
  } @else {
    position: relative;
    &::#{$pseudo} {
      @include one-line-base($direction, $size);
      @content;
    }
  }
}